<ion-content mode="ios" [fullscreen]="true">
<div class="center" style="align-items: center; justify-content: center;display: flex;height: 100%;">
  <ion-grid>
   <ion-row>
     <ion-col size-md="8" offset-md="2">
      <div class="logo" >
        <img src="/assets/icon/full-logo.png">
      </div>
      <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
        <ion-toolbar mode="md">
          <ion-title color="primary" size="large">
            <h2 style="font-weight: bold;">SIGN IN</h2>
            <p>{{tokenFbs}}</p>
          </ion-title>
        </ion-toolbar>
        <ion-item-divider mode="md">
        </ion-item-divider>
        <ion-item size="small"  mode="md">
          <ion-label mode="md" autocomplete="off" position="floating">Username</ion-label>
          <ion-input mode="md" clearInput="true" name="username"  type="email" ngModel required></ion-input>
        </ion-item>
      
        <ion-item mode="md">
          <ion-icon slot="end" color="primary" class="ion-align-self-center passIcon"
            [name]="showhide ? 'eye' : 'eye-off-outline' " (click)="passwordShow()"></ion-icon>
          <ion-label mode="md" position="floating">Password</ion-label>
          <ion-input mode="md" autocomplete="name" [type]=" showhide ? 'password' : 'text' " name="password" ngModel required>
          </ion-input>
        </ion-item>
        <ion-button expand="block" mode="md" type="submit" size="large" style="font-weight: bold;"
          class="ion-margin-top ion-margin-bottom">SIGN IN</ion-button>

        <ion-item-divider type="md">
        </ion-item-divider>
        <ion-text color="primary" style="cursor: pointer;margin-top: 30px;display: block;font-weight: 600;">
          <a style="text-decoration: none; " [routerLink]="['/tracking']">Track your order?</a>
        </ion-text>
      </form> 
     </ion-col>
   </ion-row>
   </ion-grid>
 </div>
</ion-content>