#hexagon {
    height:100px;
    background: #3c37376e;;
    position: relative;
    width: 100%;
    align-items: center; 
    justify-content: center;
    display: flex;
  }

  #hexagon::after {
    content: "";
    position: absolute;
    bottom: -13.8675px;
    z-index: 1;
    left: 0;
    width: 0;
    top: 100%;
    height: 0;
    border-left: 47vw solid transparent;
    border-right: 47vw solid transparent;
    border-top: 28px solid rgb(68 68 68 / 98%);
  }
 
  .numberBox{
    border: 3px solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 8px;
    margin: auto;
    margin-top: 26px;
    font-weight: bold;
  }
  .hexgenText{
      margin: 0 !important;
      font-weight: bold;
  }

  #first{
    height:100px;
    background: #9613aa8a;;;
    position: relative;
    width: 100%;
    align-items: center; 
    justify-content: center;
    display: flex;
  }

  #first::after {
    content: "";
    position: absolute;
    bottom: -13.8675px;
    left: 0;
    width: 0;
    top: 100%;
    height: 0;
    border-left: 47vw solid transparent;
    border-right: 47vw solid transparent;
    border-top: 28px solid rgb(149 77 161);
  }

  #second{
    height:100px;
    background: #18488B;;;
    position: relative;
    width: 100%;
    align-items: center; 
    justify-content: center;
    display: flex;
  }

  #second::after {
    content: "";
    position: absolute;
    bottom: -13.8675px;
    left: 0;
    width: 0;
    top: 100%;
    height: 0;
    border-left: 47vw solid transparent;
    border-right: 47vw solid transparent;
    border-top: 28px solid #18488B;
  }
  #third{
    height:100px;
    background: #5597E5;
    position: relative;
    width: 100%;
    align-items: center; 
    justify-content: center;
    display: flex;
  }

  #third::after {
    content: "";
    position: absolute;
    bottom: -13.8675px;
    left: 0;
    width: 0;
    top: 100%;
    height: 0;
    border-left: 47vw solid transparent;
    border-right: 47vw solid transparent;
    border-top: 28px solid #5597E5;
  }
  #fourth{
    height:100px;
    background: #58E370;
    position: relative;
    width: 100%;
    align-items: center; 
    justify-content: center;
    display: flex;
  }

  #fourth::after {
    content: "";
    position: absolute;
    bottom: -13.8675px;
    left: 0;
    width: 0;
    top: 100%;
    height: 0;
    border-left: 47vw solid transparent;
    border-right: 47vw solid transparent;
    border-top: 28px solid #43a954;
  }