<ion-content scrollEvents={true} mode="" [fullscreen]="true" class="ion-padding-top">
  <ion-grid mode="md" >
    <ion-row class="ion-margin-top" >
      <ion-col size-md="8" offset-md="2" class="ion-padding" style="padding-bottom: 0;">
        <div class="logo" style="margin-top:35px;">
            <ion-img src="/assets/icon/full-logo.png"></ion-img>
            <!-- <img src="/assets/icon/full-logo.png"> -->
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" offset-md="2" >
           <ion-row>
             <ion-col size-md="8" offset="1">
              <h6> <strong>Name : </strong><span *ngIf="user" style="font-size: 15px;"> {{user.firstName+' '+user.lastName}}</span></h6>
              <h6> <strong>Email : </strong><span *ngIf="user" style="font-size: 15px;"> {{user.email}}</span></h6> 
             </ion-col>
             <ion-item-divider mode="md">
            </ion-item-divider>         
           </ion-row>          
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="8" offset-md="2" >
         <ion-row>
            <ion-col size-md="8" offset-md="1" >
              <ion-item button="true"  mode="ios" color="tertiary" lines="none" (click)="statusView(awaiting)">
                <ion-label style="display:contents;white-space:initial;"  slot="start">Awaiting Pick Up</ion-label>
                <ion-badge slot="end" color="danger">{{awaiting.length}}</ion-badge>
              </ion-item>
              <ion-item button="true" mode="ios" color="tertiary" lines="none" (click)="statusView(inTransit)">
                <ion-label slot="start"  style="display:contents;white-space:initial;">In Transit</ion-label>
                <ion-badge slot="end" color="secondary">{{inTransit.length}}</ion-badge>
              </ion-item>
              <ion-item button="true" mode="ios" color="tertiary" lines="none" (click)="statusView(onBoard)">
                <ion-label slot="start"  style="display:contents;white-space:initial;">Onboard For Delivery</ion-label>
                <ion-badge slot="end" color="warning">{{onBoard.length}}</ion-badge>
              </ion-item>
              <ion-item button="true" mode="ios" color="tertiary" lines="none" (click)="statusView(delivered)">
                <ion-label slot="start"  style="display:contents;white-space:initial;">Delivered</ion-label>
                <ion-badge slot="end" color="success">{{delivered.length}}</ion-badge>
              </ion-item>
            </ion-col>
         </ion-row>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>