ion-card{
 margin-inline: 0;
}
.cardGrid{
    padding-inline-start:0;
    padding-inline-end: 0;
}
.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h{
    margin: 0;
}

ion-item{
    font-size: 15px;
    --min-height:35px !important;
}