<ion-header>
  <ion-toolbar mode="ios" color="primary" style="text-align: left;">
    <ion-title mode="ios"> <strong>Tracking</strong> </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dissmissModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scrollEvents={true} mode="md" [fullscreen]="true"  >
  <ion-grid >
    <ion-row>
      <ion-col size-md="8" offset-md="2" class="cardGrid">
         <div *ngIf="history.length<1">
          <ion-item color="tertiary" lines="none" >
            <ion-label slot="start" style="font-weight: bold;">No Data Found! </ion-label>
          </ion-item>
         </div>
        <div  *ngIf="history.length>0" style="padding-left:10px;padding-right: 10px;">
        <ion-card mode="ios" color="tertiary" *ngFor="let order of history">
          <ion-item color="tertiary" lines="none" style="margin: 0;--padding-start: 11px;">
            <h3 slot="start">Order Detail</h3>
            <ion-buttons slot="end">
             <ion-button  (click)="lablelView(order.labelInfo)"><ion-icon size="md" size="large"  name="eye" class="ion-align-self-center passIcon"></ion-icon> 
              &nbsp; LABEL
            </ion-button>
            </ion-buttons>
            <!-- <h6 button="true" slot="end" style="margin: 0;display: flex;display: inherit;white-space: break-spaces;" >
              <ion-icon size="md" size="large"  name="eye" class="ion-align-self-center passIcon"></ion-icon>
             LABEL
           </h6> -->
          </ion-item>
          <ion-item-divider mode="md">
          </ion-item-divider>
          <ion-card-content style="padding-inline-start:11px;padding-inline-end:11px;padding-top: 11px;">
            <ion-item color="tertiary" lines="none" style="margin: 0;--padding-start: 0px;--inner-padding-end: 0px;" >
              <ion-label slot="start" style="font-weight: bold;">My Freight ID: </ion-label>
              <ion-label slot="end">{{order.id}}</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" style="margin: 0;--padding-start: 0px;--inner-padding-end: 0px;" >
              <ion-label slot="start" style="font-weight: bold;">Carrier: </ion-label>
              <ion-label slot="end">{{order.labelInfo.courierName}}</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" style="margin: 0;--padding-start: 0px;--inner-padding-end: 0px;" >
              <ion-label slot="start" style="font-weight: bold;">Order #: </ion-label>
              <ion-label slot="end">{{order.labelInfo.labelId}}</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" style="margin: 0;--padding-start: 0px;--inner-padding-end: 0px;" >
              <ion-label slot="start" style="font-weight: bold;">Price: </ion-label>
              <ion-label slot="end">${{order.labelInfo.labelPrice}}</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" style="margin: 0;--padding-start: 0px;--inner-padding-end: 0px;" >
              <ion-label slot="start" style="font-weight: bold;">Date: </ion-label>
              <ion-label slot="end">{{order.created | date:'medium'}}</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" style="margin: 0;--padding-start: 0px;--inner-padding-end: 0px;" >
              <ion-label slot="start" style="font-weight: bold;">Location:</ion-label>
              <ion-label slot="end">
              From: {{order.from.address}}
              </ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" style="margin: 0;--padding-start: 0px;--inner-padding-end: 0px;" >
              <ion-label slot="end">
               To: {{order.to.address}}
              </ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" style="margin: 0;--padding-start: 0px;--inner-padding-end: 0px;" >
              <ion-label style="font-weight: bold;" slot="start">Contact: </ion-label>
              <ion-label slot="end">
                From: {{order.from.name}}
              </ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" style="margin: 0;--padding-start: 0px;--inner-padding-end: 0px;" >
              <ion-label slot="end">
               To: {{order.to.name}}
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
