<ion-header slot="fixed" >
  <ion-toolbar color="primary" mode="ios" >
    <ion-buttons slot="start" >
      <ion-menu-button (click)="presentActionSheet()"  autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
 
<ion-tabs mode="md">
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['profile']" routerLinkActive="active" tab="profile" (click)=" titleChange()">
      <ion-icon  name="person-circle-outline"></ion-icon>
      <ion-label >My Pofile</ion-label>
    </ion-tab-button>
    <ion-tab-button  [routerLink]="['history']" routerLinkActive="active" tab="history" (click)=" titleChange()">
      <ion-icon  name="timer-outline"></ion-icon>
      <ion-label >History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>